<div id="user_nav">

  <% if current_jobseeker%>
      Logged in as <%= current_jobseeker.username %>.
      <%= link_to "Log out", jobseeker_log_out_path %>

  <% end %>

</div>
<br>

<%= link_to 'Back', main_page_path %>
